# Server configuration
PORT=8000
NODE_ENV=development  # Use 'production' for production environments

# API keys (replace these with your actual keys)
API_KEY=your_api_key_here  # This is the key for accessing this API
FMP_API_KEY=your_fmp_api_key_here  # Get this from Financial Modeling Prep 